<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head>
 
	<title>Header</title>
</head>
<body>
    <nav th:fragment="navbar">
    <ul>
       <li>HOME</li>
       <li>ABOUT</li>
       <li>CONTACT</li>
    </ul>
    </nav>
    <!-- <div class="nav" th:fragment="nav">
       <h2>Header Navbar</h2>
    </div> -->


</body>
</html>